<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GabrielNopper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D720F3581C593A87007EC02B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D720F3711C593A88007EC02B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D720F37C1C593A88007EC02B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
